version: '3.9'

services:
  web:
    build: .
    container_name: calculator_web
    ports:
      - "5000:5000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: my_postgres
    environment:
      POSTGRES_USER: john
      POSTGRES_PASSWORD: pwd0123456789
      POSTGRES_DB: mydbs
    ports:
      - "54320:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    container_name: my_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: kofibonsu5@gmail.com
      PGADMIN_DEFAULT_PASSWORD: pwd0123456789
    ports:
      - "8080:80"
    depends_on:
      - db

  fastapi:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:

