name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15-alpine 
        env:
          POSTGRES_DB: mydbs
          POSTGRES_USER: john
          POSTGRES_PASSWORD: pwd0123456789
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U john -d mydbs"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install playwright
          playwright install --with-deps

      - name: Wait for PostgreSQL to be ready
        run: |
          echo "Waiting for Postgres..."
          for i in {1..20}; do
            pg_isready -h localhost -p 5432 -U john && break
            sleep 2
          done

      - name: Run tests
        env:
          DATABASE_URL: postgresql://john:pwd0123456789@localhost:5432/mydbs
          TEST_DATABASE_URL: postgresql://john:pwd0123456789@localhost:5432/mydbs
        run: pytest -vv

  build_and_push:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/fastapi-app:latest
